 #scrolli{
    overflow-y: scroll;
    width:300px;
    height:350px;
    overflow-x: hidden;
    background-color: white;
   
  
   
}

::-webkit-scrollbar{
    width:3px;
    background-color:blueviolet;
}
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 20px;


}
